.link {
  text-decoration: none;
}

.character {
  box-sizing: border-box;
  display: flex;
  border-radius: 25px;
  box-shadow: 5px 5px 10px #ffffff;
  border: 3px solid #28c4c4;

  &:hover {
    transform: scale(1.05);
  }

  &__card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 2rem 12rem 5rem;

    &--img {
      grid-row: 3/4;
      width: 100%;
      border-radius: 25px;
      height: 100%;
      width: 90%;
      margin: auto;
    }
    &--name {
      grid-row: 1/2;
      margin: 20px 25px 0 25px;
      color: #ffffff;
      padding: 3px 0 5px 0;
      font-size: 20px;
    }

    &--info {
      grid-row: 4/5;
      margin-top: 15px;
      color: #ffffff;
      text-transform: capitalize;
      border-radius: 40%;

      &-span {
        background-color: #000000;
      }
    }
  }
}
