.SingleCharacter {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.singleCharacterCard {
  margin-bottom: 20px;
  background-color: #09a7c2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  width: 550px;
  border-radius: 10px;
}
.imageCharacter {
  height: 250px;
}
.link {
  color: white;
}

.characterDetails {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
