.page {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
  width: 100%;
}

.logo {
  height: 100px;
  width: 300px;
  margin-bottom: 30px;
}

.input {
  width: 450px;
  border-color: cyan;
  background-color: black;
  color: white;
}

.characterList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
